@media screen and (min-width: 850px) {
  ion-searchbar {
    width: 30%;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
  }
}
@media screen and (max-width: 850px) {
  ion-searchbar {
    display: none;
  }
  ul#toolbar-menu {
    display: none;
  }
}
ion-content {
  --background: #f5f5f5;
  --padding-bottom: 0;
  --padding-end: auto;
  --padding-start: auto;
  --padding-top: 0;
}
ion-searchbar {
  --background: rgb(240, 255, 243);
}
img#toolbar-home {
  height: 40px;
  width: auto;
  margin-left: 20px;
}
ul#toolbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#toolbar-menu li {
  float: right;
  padding: 5px;
  margin: 0 10px;
}
ul#toolbar-menu a {
  color: var(--ion-color-secondary);
}
