<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a href="/menu/(menucontent:home)"
      ><img
        id="toolbar-home"
        src="../../../assets/images/pushup.png"
        alt="Pushup Haiti"
    /></a>
    <ul slot="end" id="toolbar-menu">
      <a href="/menu/(menucontent:discover)"><li>Decouvrir</li></a>
      <a href="/menu/(menucontent:create-campain)"><li>Demander un Push</li></a>
    </ul>
    <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card
      *ngFor="let p of projects"
      (click)="openProjectDetail(p.id, p.title)"
    >
      <ion-card-content>
        <ion-img [src]="p.img"></ion-img>
        <ion-card-title> {{ p.title }} </ion-card-title>
        <ion-card-subtitle> {{ p.subtitle | uppercase }} </ion-card-subtitle>
        <p class="desc">{{ p.description }}</p>
        <p class="amount">
          ${{ p.raisedAmount }} disponible sur ${{ p.totalAmount }}
        </p>
        <p><ion-icon name="pin"></ion-icon> {{ p.city }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
